<ion-view view-title="CONUNTRIES 4">
  <ion-content>
    <div class="list">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Ingrese codigo del pais" ng-model="code">
        </label>
      </div>

      <button class="button button-assertive button-block" ng-click="buscarPais(code)">Buscar</button>

      <div class="card">
        <ion-item>
          <div class="infoLeft">
            <h2>{{paisencontrado.name}}</h2>
            <p>{{paisencontrado.alpha2_code}} </p>
            <p>{{paisencontrado.alpha3_code}} </p>
          </div>
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>
